header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788) ;
    color: white;
    z-index: 9999;
    padding-bottom: 5px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;    
}

nav h1{
    position: relative;
    left: 60px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(36, 182, 231);
}
nav ul{
    position: relative;
    right: 50px;
    
}
h1, p {
    padding: 5px;
    text-align: justify;
    
}
.title {
    border-top: 4px solid rgb(36, 182, 231);
    border-radius: 40px;
}